body {
  font-family: "Roboto";
  font-weight: 400;
  color: #0e1016;
}

.btn {
  font-size: 18px;
  height: 100%;
  color: #fff;
  background-color: #09f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.container--sm {
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container--lg {
  max-width: 1360px;
}

/* header */

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  padding: 20px 40px;
}

.menu-list {
  margin-left: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 26px;
  height: 100%;
}

.list-part {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  color: #141414;
}

.list-part:first-child {
  margin: 0;
}

.menu-user {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.user-login {
  width: 94px;
  background-color: #fff;
  color: #333;
  border: 2px solid #f8f4f4;
}

.user-trial {
  width: 153px;
  border-radius: 8px;
  margin-left: 10px;
}

/* main */
main {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main-intro */
.intro-hiringTogether {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiring-intro {
  max-width: 900px;
  text-align: center;
  font-weight: 400;
  font-size: 120px;
  line-height: 110px;
  letter-spacing: 2px;
  color: rgba(14, 16, 22, 0.95);
}

.hiring-paragraph {
  margin-top: 70px;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  color: #35393f;
  max-width: 510px;
}

.hiring-form {
  margin-top: 33px;
  height: 54px;
}

#hiring-form-email {
  margin: 0;
  padding: 10px;
  width: 300px;
  height: 100%;
  border: 2px solid #09f;
  border-radius: 8px 0px 0px 8px;
  color: #b2b2b2;
  font-size: 20px;
  line-height: 28px;
}

#hiring-form-email:focus {
  border: 2px solid #f8f4f4;
  outline: 0px;
}

.hiring-form-submit {
  margin-left: -5px;
  display: inline-flex;
  width: 163px;
  border: 2px solid #09f;
  border-radius: 0px 8px 8px 0px;
  font-size: 20px;
  line-height: 28px;
}

/* teams */
.teams {
  margin-top: 40px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.teams-header {
  font-size: 20px;
  line-height: 28px;
  color: #b2b2b2;
}

.teams-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* how works */
.howWorks {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  min-height: 690px;
}

.howWorks-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 1.5px;
}

.howWorks-player {
  margin-top: 30px;
  position: relative;
  max-width: 860px;
}

.player-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 7px 10px rgba(186, 193, 197, 0.2);
  border-radius: 40px;
  position: absolute;
  top: 451px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-text {
  margin-left: 15px;
  color: #000;
}
