body {
  font-family: "Roboto";
  font-weight: 400;
  color: #0e1016;
}

.btn {
  font-size: 18px;
  color: #fff;
  background-color: #09f;
  padding: 15px 20px;
  border-radius: 8px;
}

h3 {
  font-weight: 700;
  font-size: 30px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.label::after {
  content: "new";
  display: inline-block;
  font-size: 13px;
  padding: 2px 8px;
  line-height: 13px;
  color: #fff;
  background: #f64775;
  border-radius: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.container--sm {
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container--lg {
  max-width: 1360px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

/* header */

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  padding: 20px 40px;
}

.menu-list {
  margin-left: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 26px;
  height: 100%;
}

.list-part {
  color: #141414;
}

.list-part:first-child {
  margin: 0;
}

.menu-user {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.user-login {
  width: 94px;
  background-color: #fff;
  color: #333;
  border: 2px solid #f8f4f4;
}

.user-trial {
  padding: 17px 20px;
  margin-left: 10px;
}

/* main */
main {
  padding: 16px 60px 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main-intro */
.intro-hiringTogether {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiring-intro {
  max-width: 900px;
  text-align: center;
  font-weight: 400;
  font-size: 120px;
  line-height: 110px;
  letter-spacing: 2px;
  color: rgba(14, 16, 22, 0.95);
}

.hiring-paragraph {
  margin-top: 70px;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  color: #35393f;
  max-width: 510px;
}

.hiring-form {
  margin-top: 33px;
  height: 54px;
  display: flex;
}

#hiring-form-email {
  margin: 0;
  padding: 10px;
  width: 300px;
  height: 100%;
  border: 2px solid #09f;
  border-radius: 8px 0px 0px 8px;
  color: #b2b2b2;
  font-size: 20px;
  line-height: 28px;
}

#hiring-form-email:focus {
  border: 2px solid #f8f4f4;
  outline: 0px;
}

.hiring-form-submit {
  margin-left: -5px;
  padding: 15px;
  border: 2px solid #09f;
  border-radius: 0px 8px 8px 0px;
  font-size: 20px;
}

/* teams */
.teams {
  margin-top: 40px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.teams-header {
  font-size: 20px;
  line-height: 28px;
  color: #b2b2b2;
}

.teams-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* how works */
.howWorks {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  max-height: 690px;
}

.howWorks-header {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 1.5px;
}

.howWorks-player {
  margin-top: 30px;
  position: relative;
  max-width: 860px;
}

.player-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
  background-color: #fff;
  box-shadow: 0px 7px 10px rgba(186, 193, 197, 0.2);
  border-radius: 40px;
  position: absolute;
  top: calc(100% - 45px);
  left: 50%;
  transform: translateX(-50%);
}

.btn-text {
  margin-left: 15px;
  color: #000;
}

/* main-content */
.main-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 40px;
}

.main-containerContent {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 20px;
  max-width: 1240px;
  padding: 60px 40px 40px;
}

.benefits-container {
  padding: 40px 0;
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: space-between;
  color: rgba(14, 16, 22, 0.95);
}

.container-content {
  max-width: 444px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.benefits-forCandidats {
  flex-flow: row-reverse wrap;
}

.content-benefits {
  padding: 40px;
  min-height: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1.5px;
}

.benefits-text {
  font-size: 22px;
  line-height: 31px;
}

.benefits-btn {
  padding: 20px 17px;
  font-weight: 700;
  color: #333333;
  background-color: #fff;
  border: 2px solid #f8f4f4;
}

.img-signature {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: rgba(14, 16, 22, 0.4);
}

.hire-title {
  color: #0c9f64;
}

.forCandidats-title {
  color: #fec104;
}

.content-reviews {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #202e78;
  color: #fff;
}

.reviews-logo {
  width: 80px;
}

.review-title {
  font-size: 56px;
  letter-spacing: 1.5px;
}

.review-text {
  text-align: center;
  font-size: 22px;
  line-height: 31px;
}

.review-btn {
  background: transparent;
  border: 2px solid #f8f4f4;
  margin-top: 15px;
  color: #f4f6f8;
}

.review-userSlider {
  display: flex;
  flex-direction: column;
}

.userSlider-item {
  margin-top: 15px;
  display: flex;
}

.user-comment {
  padding: 40px 40px 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  background: #000639;
  border-radius: 0 20px 20px 0;
}

.comment-img {
  width: 129px;
}

.comment-text {
  font-size: 30px;
  line-height: 36px;
}

.comment-aboutUser {
  margin-top: -20px;
  font-size: 22px;
  line-height: 31px;
}

.userSlider-pagination {
  margin-top: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.userSlider-pagination-item {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
}

.userSlider-pagination-item:active {
  width: 14px;
  height: 14px;
  background: #ffffff;
}

.content-templates {
  padding: 70px auto 20px;
}

/* templates */
.content-templates {
  background: #181818;
  color: #fff;
  padding: 70px 0px 20px;
  text-align: center;
}

.templates-label::after {
  font-size: 17px;
  padding: 8px 15px;
  border-radius: 20px;
}

.templates-title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

.templates-text {
  margin-top: 24px;
  font-size: 22px;
  line-height: 31px;
  color: #f4f3f3;
}

.templates-btn {
  margin-top: 40px;
}

.templates-img {
  margin-top: 10px;
}

/* rating */
.content-rating {
  padding: 60px 0px 40px;
  flex-flow: row wrap;
}

.rating-container {
  padding: 40px 160px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rating-blockRating {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 700;
  font-size: 82px;
  color: rgba(14, 16, 22, 0.95);
}

.blockRating-item {
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-text {
  margin-top: 25px;
  color: rgba(14, 16, 22, 0.95);
  font-size: 20px;
  line-height: 28px;
}

/* startTrial */
.content-startTrial {
  padding: 60px 0px 50px;
  width: 100%;
  background: #3ca9ff;
  color: #fff;
}

.startTrial-title {
  margin-top: 15px;
  font-size: 57px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 1.5px;
}

.startTrial-btn {
  margin-top: 15px;
  background: #0e1016;
}

.startTrial-list {
  margin-top: 30px;
  display: flex;
  gap: 40px;
}

.startTrial-list-item {
  position: relative;
}

.startTrial-list-item::before {
  position: absolute;
  left: -17px;
  top: 50%;
  transform: translateY(-50%);
  content: "\2714";
}
